/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-rlj-background  {
  // margin: 0 auto;
  // padding: 2rem;
}

.has-background {
    background-color: #000;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    // min-height: 430px;
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
}

.has-parallax {
    background-attachment: fixed;
}
