/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 

.wp-block-rlj-background  {
}

.has-background {
    background-size: cover;
    background-position: 50%;
    height: 100%;
}

.has-parallax {
    background-attachment: fixed;
}

.is-style-rounded {
    border-radius: $border-radius;
}

.is-style-shadow {
    @include box-shadow(0 3px 4px 0px $color-black-transp-light);
}

.is-style-shadow-rounded {
    border-radius: $border-radius;
    @include box-shadow(0 3px 4px 0px $color-black-transp-light);
}
