/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/



// box-shadow
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}


$color-black-transp-light: rgba(0,0,0,.2);
$border-radius: 2px;
